{% extends 'main.html' %}
{% from "_render_field.html" import render_field %}

{% block title %}
<title>Sign Up</title>
<style>
    .title {
        color: white;
    }

    .block {
        background-color: darkcyan;
        color: white;
    }

    .button {
        color: white;
        padding: 5px 20px;
        background-color: black;
    }

    a {
        color: white
    }

</style>
{% endblock %}

{% block content %}

<form class="centered bg-color block" method="POST">
    <h1 class="title">Reader info</h1>
    <p>First name: {{ reader.first_name }}</p>
    <p>Last name: {{ reader.last_name }}</p>
    <p>Type study: {{ reader.form_study_type }}</p>
    <p>Email: {{ reader.email }}</p>
    <p>Book title: {{ reader.book_title }}</p>
    <p>Date issue: {{ reader.date_issue }}</p>
    <p>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</button>
        <a href="{{ url_for('lib.update_reader', id=reader.id) }}" type="submit">edit</a>
    </p>
</form>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete reader</h5>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Do you want to delete the reader?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form action="{{ url_for('lib.delete_reader', id=reader.id) }}" method="POST"> <!-- delete !-->
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}