{% extends 'main.html' %}
{% from "_render_field.html" import render_field %}

{% block title %}
<title>Sign Up</title>
<style>
    .block {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }

    .item {
        width: 300px;
        height: 300px;
        border: 1px solid black;
        margin: 80px 20px 80px 20px;
        border-radius: 10px;
        background-color: darkcyan;
        color: white;
    }

a {
    color: white;
}

</style>
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="block">
    {% for reader in readers %}
    <div class="item">
        <h1><a href="{{ url_for('lib.detail_reader', id=reader.id) }}">{{ reader.first_name }} {{ reader.last_name }}</a></h1>
        Книга
        <p>{{ reader.book_title }}</p>
        <p>{{ reader.date_issue }}</p>
    </div>
    {% endfor %}


</div>

{% endblock %}