<!DOCTYPE html>

{% from "_render_field.html" import render_field %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><Form></title>
</head>
<body>
    <h1>Input your username and password</h1>
    {% for message in get_flashed_messages() %}
    {{ message }}   (flash message)
    {% endfor %}
    <p></p>
    <form method="POST" action="{{ url_for('form') }}">
        {{ form.csrf_token }}

        {{ render_field(form.username) }}

        {{ render_field(form.password) }}

        <input type="submit" value="Sumbit">
    </form>
</body>
</html>