.post-block {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.posts {
    margin-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    font-size: 20px;
}

.detail-post {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-top: 20px;
}


.form-post {
    border: 1px solid black;
    border-radius: 25px;
    margin-top: 25px;
    padding: 20px 20px 20px 20px;
    align-items: center;
    justify-content: center;
}

input {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 25px;
}

textarea {
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 10px;
    resize: none;
}

.block-form-post {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-item {
    width: 500px;
}

.width-text {
    width: 700px
}

