{% extends 'main.html' %}
{% from "_render_field.html" import render_field %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block content %}

<form class="centered bg-color" method="POST">
    <h1>Login</h1>
    {{ login_form.csrf_token }}
    {{ render_field(login_form.email) }}
    {{ render_field(login_form.password) }}
    <div>
        Remember Me {{ render_field(login_form.remember) }}
    </div>
    <button>Login</button>
</form>
{% endblock %}