{% extends 'main.html' %}
{% from "_render_field.html" import render_field %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<form method="POST" class="form">
    {{ doc_reg.csrf_token }}
    {{ render_field(doc_reg.email, value=email) }}
    {{ render_field(doc_reg.password) }}
    {{ render_field(doc_reg.confirm_password) }}
    {{ render_field(doc_reg.number, value=number) }}
    {{ render_field(doc_reg.year, value=year) }}
    {{ render_field(doc_reg.pin, value=pin) }}
    {{ render_field(doc_reg.serial, value=serial) }}
    {{ render_field(doc_reg.doc_number, value=doc_number) }}
    <button>Submit</button>
</form>

{% endblock %}
