{% extends 'main.html' %}
{% from "_render_field.html" import render_field %}

{% block title %}
<title>Login</title>
<style>
    .title {
        color: white;
    }

    .block {
        background-color: darkcyan;
        color: white;
    }

    .button {
        color: white;
        padding: 5px 20px;
        background-color: black;
    }
</style>
{% endblock %}

{% block content %}

<form class="centered bg-color block" method="POST">
    <h1 class="title">Login</h1>
    <div>
        {{ login_form.csrf_token }}
        {{ render_field(login_form.email) }}
        {{ render_field(login_form.password) }}
    </div>
    <div>
        Remember Me {{ render_field(login_form.remember) }}
    </div>
    <button class="button">Login</button>
</form>
{% endblock %}