{% from "_render_field.html" import render_field %}
{% extends 'base.html' %}
{% block content %}
    <h1>Form!!!</h1>
    {% for message in get_flashed_messages() %}
    {{ message }}   (flash message)
    {% endfor %}
    <p></p>
    <form method="POST" action="{{ url_for('cabinet.form') }}">
        {{ form_f.csrf_token }}

        {{ render_field(form_f.username) }}

        {{ render_field(form_f.password) }}

        <input type="submit" value="Sumbit">
    </form>
{% endblock %}