{% extends 'main.html' %}

{% block title %}
<title>Users List</title>
<style>
    .user_amount {
        color: #323539;
    }
    .user_list {
    background: #c5e8ef;
}
    .user_item {
        list-style: none;
        padding: 10px 0;
        border: 1px dotted #20c997;
        margin-bottom: 5px;
        background: #bacbe6;
    }
</style>
{% endblock %}

{% block content %}
<div class="centered user_list">
    <h1 class="user_amount">Users amount: {{ amount }}</h1>
    <ul>
        {% for user in users_list %}
        <li class="list user_item">
            <p>{{ user['username'] }}</p>
            <p>{{ user['email'] }}</p>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}