{% extends 'main.html' %}

{% block title %}
<title>About</title>
{% endblock %}

{% block content %}
<div>
    <div class="fs-7 p-5 pt-2">
    <h1 class="text-center mb-5 pt-0 text-primary">About page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Massa vitae tortor condimentum lacinia quis vel eros donec. Elit sed vulputate mi sit
        amet
        mauris commodo quis. Convallis convallis tellus id interdum velit laoreet id. Senectus et netus et malesuada.
        Lorem
        ipsum dolor sit amet. Sed egestas egestas fringilla phasellus. Purus sit amet luctus venenatis lectus magna
        fringilla. Arcu ac tortor dignissim convallis aenean et tortor. Et netus et malesuada fames ac turpis egestas.
        Nunc
        mattis enim ut tellus elementum sagittis vitae et. Nunc non blandit massa enim nec dui nunc mattis enim.
        Ultrices
        tincidunt arcu non sodales neque sodales ut etiam. Lobortis feugiat vivamus at augue eget arcu dictum. Sit amet
        cursus sit amet dictum. Egestas egestas fringilla phasellus faucibus scelerisque eleifend donec pretium. Viverra
        accumsan in nisl nisi scelerisque eu. Pharetra diam sit amet nisl suscipit adipiscing bibendum est. In tellus
        integer feugiat scelerisque varius. Ac odio tempor orci dapibus ultrices in iaculis nunc sed.</p>

    <p> Auctor eu augue ut lectus arcu. Cras adipiscing enim eu turpis egestas pretium aenean. Suspendisse faucibus
        interdum
        posuere lorem ipsum dolor sit amet consectetur. Elit duis tristique sollicitudin nibh sit. Etiam dignissim diam
        quis
        enim lobortis scelerisque fermentum dui. Vitae turpis massa sed elementum tempus egestas sed sed. Augue lacus
        viverra vitae congue eu consequat ac. Elit ut aliquam purus sit amet luctus venenatis. Pharetra diam sit amet
        nisl
        suscipit. Sit amet justo donec enim diam vulputate ut pharetra sit. Sagittis orci a scelerisque purus semper
        eget
        duis. Auctor neque vitae tempus quam pellentesque. Parturient montes nascetur ridiculus mus. Ipsum dolor sit
        amet
        consectetur adipiscing elit. Lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare.
        Scelerisque eleifend donec pretium vulputate sapien. Integer quis auctor elit sed vulputate mi sit amet. Nunc
        mattis
        enim ut tellus. Consequat ac felis donec et odio.</p>
</div>
    {% if checker %}
    {{ info }}
    {% else %}

    {% endif %}
</div>
{% endblock %}

{% block footer %}
{% for key, value in user_info.items() %}
<p>{{ value }}</p>
{% endfor %}
{% endblock %}