{% extends 'main.html' %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block content %}
<h1 class="text-center mb-5 pt-0 text-primary">Main page</h1>
<img src="https://thumbs.dreamstime.com/b/blue-frog-19985818.jpg" class="d-flex m-auto w-50" alt="frog">
{% endblock %}

{% block footer %}
{% for key, value in user_info.items() %}
<p>{{ key }} ---> {{ value }}</p>
{% endfor %}
{% endblock %}