{% extends 'main.html' %}

{% block title %}
<title>Projects</title>
{% endblock %}

{% block content %}
<div>
    <h1>Projects</h1>
    {% for project in projects_list %}
    <p>{{ project }}</p>
    {% endfor %}
</div>
{% endblock %}

{% block footer %}
{% for key, value in user_info.items() %}
<p>{{ key }} ---> {{ value }}</p>
{% endfor %}
{% endblock %}