{% macro render_field(field) %}
{{ field.label }}
{{ field(**kwargs)|safe }}
<ul>
    {% for error in field.errors %}
        <p style="color:red;">{{ error }}</p>
    {% endfor %}
</ul>
{% endmacro %}