{% extends 'base.html' %}
{% from "_render_field.html" import render_field %}
{% block title %}Forms Page{% endblock %}

{% block body %}
<h1 class="text-center mb-5 pt-0 text-primary">Forms page</h1>

<h2>{{ error }}</h2>
    <form method="POST" class="text-center">
        {{ form.csrf_token }}
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ render_field(form.re_password) }}
        {{ render_field(form.number) }}
        {{ render_field(form.year) }}
        {{ render_field(form.pin) }}
        {{ render_field(form.serial) }}
        {% if serial_err %}
            <ul>
                <li style="color:red;">{{ serial_err }}</li>
            </ul>
        {% endif %}

        {{ render_field(form.diploma_number) }}

        {% if diploma_err %}
            <ul>
                <li style="color:red;">{{ diploma_err }}</li>
            </ul>
        {% endif %}

        <input type="submit" value="Send data" class="mb-3">
    </form>
{% endblock %}
