<header>
    <nav class="navbar navbar-expand-lg">
        <ul class="navbar-nav d-flex justify-content-center w-100 fs-3 text-secondary">
            <li class="nav-item">
                <a class="nav-link text-info" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-info" href="{{ url_for('about') }}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-info" href="{{ url_for('tasks') }}">Tasks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-info" href="{{ url_for('form') }}">Forms</a>
            </li>
        </ul>
    </nav>
    <hr/>
</header>
