{% extends 'base.html' %}


{% block title %}Tasks Page{% endblock %}


{% block body %}
    <h1 class="text-center mb-1 pt-0 text-primary">Tasks page</h1>
    <h3 class="text-center text-primary">The list of the most popular movies</h3>
    <ul class="d-flex align-items-center flex-column w-100 mt-4 list-group">
        {% for movie in movies %}
            <li class="list-group-item">{{ movie }}</li>
        {% endfor %}
    </ul>
{% endblock %}