{% extends 'main.html' %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block content %}
<h1>Home page</h1>
{% endblock %}

{% block footer %}
{% for key, value in user_info.items() %}
<p>{{ key }} ---> {{ value }}</p>
{% endfor %}
{% endblock %}