{% extends 'main.html' %}
{% from "_render_field.html" import render_field %}

{% block title %}
<title>Sign Up</title>
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<form class="centered bg-color" method="POST">
    <h1>Sign Up</h1>
    {{ registration.csrf_token }}
    {{ render_field(registration.username) }}
    {{ render_field(registration.email) }}
    {{ render_field(registration.password) }}
    {{ render_field(registration.confirm_password) }}
    <button>Sign Up</button>
</form>
{% endblock %}