{% from "_render_field.html" import render_field %}
{% extends 'base.html' %}
{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/posts.css') }}">
<div class="post-block">
    {% for pos in posts %}
    <div class="posts">
        <img src="/static/posts_pics/{{ pos.image_file }}" width="300px">
        <p><a href="{{ url_for('post.view_detail', pk=pos.id) }}">{{ pos.title }}</a></p>

    </div>
    {% endfor %}
</div>
{% endblock %}
