{% extends 'main.html' %}

{% block title %}
<title>Users List</title>
{% endblock %}

{% block content %}
<div class="centered">
    <h1>Users amount: {{ amount }}</h1>
    <ul>
        {% for user in users_list %}
        <li class="list">
            <p>{{ user['username'] }}</p>
            <p>{{ user['email'] }}</p>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}