{% extends 'main.html' %}
{% block content %}
    <h1>{{ current_user.email }}</h1>
    <h1>{{ current_user.username }}</h1>
    <h1>{{ current_user.password }}</h1>
    <h1>{{ current_user.image_file }}</h1>
{% endblock %}