{% extends 'main.html' %}
{% from "_render_field.html" import render_field %}

{% block title %}
<title>Sign Up</title>
<style>
    .title {
        color: white;
    }

    .block {
        background-color: darkcyan;
        color: white;
    }

    .button {
        color: white;
        padding: 5px 20px;
        background-color: black;
    }
</style>
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}



<form class="centered bg-color block" method="POST">
    <h1 class="title">Sign Up</h1>
    {{ registration.csrf_token }}
    {{ render_field(registration.username) }}
    {{ render_field(registration.email) }}
    {{ render_field(registration.password) }}
    {{ render_field(registration.confirm_password) }}
    <button class="button">Sign Up</button>
</form>
{% endblock %}