{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center">Personal Portfolio {{ name }}</h1>

    {% if boolean %}
        {{ error }}
    {% else %}
    <h3 class="text-center">My name {{ name }}, i programmer and i write my first flask app</h3>
    {% endif %}
{% endblock %}

{% block footer %}
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <p class="text-dark">System: {{ os_name }}; {{ platform }} {{ release }};</p>
      <p class="text-dark">Header: {{ sys_info }}</p>
      <p class="text-dark">Python: {{ sys }}</p>
      <p class="text-dark">Date: {{ date }}</p>
  </div>
  <!-- Copyright -->
{% endblock %}

