{% from "_render_field.html" import render_field %}
{% extends 'base.html' %}
{% block content %}
<div class="content-section">
    <section class="vh-1000" style="background-color: #eee;">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="row justify-content-center">
                                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                    <form class="mx-1 mx-md-4" method="POST" enctype="multipart/form-data">
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <div class="form-outline flex-fill mb-0">
                                                <img class="rounded-circle account-img flex-row " src="{{ image_file }}">
                                            </div>
                                        </div>

                                            <h2 class="account-heading text-center fw-bold mb-5 mx-1 mx-md-4 mt-4">
                                                <p>{{ current_user.username }}</p>
                                            </h2>

                                            <p class="text-secondary text-center fw-bold mb-5 mx-1 mx-md-4 mt-4">
                                                {{ current_user.email }}
                                            </p>

                                            <p class="text-secondary text-center fw-bold mb-5 mx-1 mx-md-4 mt-4">
                                                Last seen: {{ current_user.last_date.strftime('%B %d %Y - %H:%M:%S') }}
                                            </p>
                                        {{ form.csrf_token }}
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                {{ render_field(form.username, class='form-control') }}
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                {{ render_field(form.email, class='form-control') }}
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                {{ render_field(form.about_me, class='form-control') }}
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                {{ form.picture.label() }}
                                                {{ form.picture(class="form-control-file") }}
                                                {% if form.picture.errors %}
                                                {% for error in form.picture.error %}
                                                <span class="text-danger">{{ error }}</span>
                                                {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <a href="{{ url_for('auth.reset_password') }}" class="justify-content-center">Reset Password</a>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                            {{ render_field(form.submit, class='btn btn-primary btn-lg',
                                            value='Update') }}
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}