  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('portfolio') }}">Portfolio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('news') }}">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('blog') }}">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('cabinet.form') }}">Form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('cabinet.register_cabinet') }}">Registers Cabinet</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.users') }}">Users</a>
          </li>
          {% if current_user.is_authenticated %}
           <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.account') }}">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.signup') }}">SignUp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>