{% extends 'base.html' %}
{% block content %}

    {% if boolean %}
        {{ error }}
    {% else %}
    {% endif %}
{% endblock %}

{% block footer %}
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <p class="text-dark">System: {{ os_name }}; {{ platform }} {{ release }};</p>
      <p class="text-dark">Header: {{ sys_info }}</p>
      <p class="text-dark">Python: {{ sys }}</p>
      <p class="text-dark">Date: {{ date }}</p>
  </div>
  <!-- Copyright -->
{% endblock %}

