<footer class="position-absolute bottom-0 w-100 mt-3">
    <nav class="navbar navbar-expand-lg">
        <ul class="navbar-nav d-flex justify-content-between w-100 fs-4 text-secondary">
            <li class="nav-item">
                <span class="nav-link text-info">Python version: {{python_version}}</span>
            </li>
            <li class="nav-item">
                <span class="nav-link text-info">OS INFO: {{os_info}}</span>
            </li>
            <li class="nav-item">
                <span class="nav-link text-info">Current time: {{time}}</span>
            </li>
        </ul>
    </nav>
</footer>