.form {
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1000px;
    background: cadetblue;
    border-radius: 0.3rem;
}

.form label {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
    color: white;
}

.form input, select {
    margin-top: 0.3rem;
    border-radius: 0.3rem;
    width: 15rem;
}

.form button {
    padding: 8px 20px;
    font-weight: bold;
    margin: 1rem;
    border: 1px solid black;
    background: black;
    border-radius: 0.3rem;
    color: white;
    transition: all .3s;

}

.form button:hover {
    border: 1px solid #84aae0;
    background: white;
    color: black;
}

.footer {
    max-height: 10%;
}

.footer p {
    paddind: 0;
    margin: 0;
}